<!doctype html>
<html ng-app="dieReiseApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title>Reise nach Marokko</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

      <div id="covers" class="container" ng-controller="dataFeedController">
        <h1 class="title">Reise nach Marokko</h1>
        <p class="lead">Nur eine Sache pro Person</p>
        <div class="col-xs-12" ng-if="!showContent">
          <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showContent">
        <a ng-repeat="event in events" ng-class="{true:'available', false:'unavailable'}[event.available]" ng-click="fillModal(event)"><img ng-src={{event.image}}></a>
        </div>
      </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
        <!-- endbuild -->
</body>
</html>
