<div>
<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="ok()">&times;</button>
      <h4 class="modal-title">{{event.name}}</h4>
    </div>
    <div class="modal-body">
      <div>
      {{event.description}}<br /><br /></div>
      <img ng-if="event.gif" ng-src={{event.gif}} style="max-width: 100%;">
      <div ng-if="event.video" class="embed-responsive embed-responsive-16by9">
        <youtube-video class="embed-responsive-item" video-id="event.video"></youtube-video>
      </div>
      <br />
      {{eventMessage}}

      <form ng-if="event.available === true" class="form-horizontal" name="myGiftForm" ng-submit="sendForm()" novalidate>
        <p>Wenn du uns das schenken willst, trage dich unten ein.<br /><br /></p>
        <div class="form-group" ng-class="{ 'has-error' : myGiftForm.firstname.$error.required && !myGiftForm.firstname.$pristine }">
          <label for="firstname" class="col-sm-3 control-label">Vorname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Vorname?"
                   ng-model="myGift.firstName" required>
            <span ng-show="myGiftForm.firstname.$error.required && !myGiftForm.firstname.$pristine" class="help-block">Bitte gib deinen Vornamen an.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : myGiftForm.lastname.$error.required && !myGiftForm.lastname.$pristine }">
          <label for="lastname" class="col-sm-3 control-label">Nachname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lastname" name="lastname"  placeholder="Nachname?"
                   ng-model="myGift.lastName" required>
            <span ng-show="myGiftForm.lastname.$error.required && !myGiftForm.lastname.$pristine" class="help-block">Bitte gib deinen Nachnamen an.</span>

          </div>
        </div>
        <div class="submit-box">
          <button type="submit" class="btn btn-primary" ng-disabled="myGiftForm.$invalid">Schenken</button>
        </div>

      </form>

      <div>{{successMessage}}</div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="ok()">Schliessen</button>
    </div>
  </div>

</div>
